---
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import "@/styles/global.css";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
const pageTitle = title === "OmniWork" ? title : `${title} | OmniWork`;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
