<aside class="doc-nav" aria-label="Docs navigation">
  <a href="/docs/">文档首页</a>
  <a href="/docs/overview/">项目概览</a>
  <a href="/docs/product/">产品理念</a>
  <a href="/docs/features/">核心特性</a>
  <a href="/docs/security/">安全设计</a>
  <a href="/docs/design/">体验设计</a>
  <a href="/docs/getting-started/">快速开始</a>
  <a href="/docs/install/">安装指南</a>
  <a href="/docs/faq/">FAQ</a>
  <a href="/download/">下载入口</a>
</aside>
